.container{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.square{
    border: 1px solid black;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}